$black: #000;
$white: #fff;
$offBlack: #1e1200;
$offBlack2: #6a5c5c;
//$offGrey: #b1a89a;
$offGrey: #9e8888;
$offGreyFaded: #faf6f3;
$offWhite: #fff4f0;

$primary: #eb4410;
$primaryFaded: #ff825b;
$primaryFaded2: #ffe4db;
$primaryFaded3: #fffbf9;

// For gradients.
$primaryHueAdjusted: #eb5d10;

$elementMargin: 3rem;
$maxCenterContentWidth: 15 * $elementMargin;

html {
  font-family: 'Open Sans', Helvetica Neue, sans-serif;
  -webkit-font-smoothing: antialiased;
}

html, body, p, h1, h2, h3 {
  margin:0;
  border:0;
  padding: 0;
  outline: 0;
  font-weight: 400;
}
html, body, #content {
  width:100%;
  height:100%;
  font-size: 100%;
}

.content-react, .container-root {
  position: relative;
  height:100%;
}

a {
  text-decoration: none;
}

h2 {
  font-size:2rem;
}
h3 {
  font-size: 1.5rem;
}


.clearfloat {
  &::after {
    display: block;
    content:"";
    clear:both;
  }
}




.leaderboard {
  &-container {
    display: table;
    width: 100%;
    height: 100%;
    min-height: 500px;
    color:$white;
    background-color: $primary;
    background-image: radial-gradient(circle at 50% 100%, $primaryHueAdjusted 0%, $primary 50%);
  }
  & {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }
  &-title {
    font-size: 3rem;
  }
  &-text {
    font-size: 1.25rem;
    width:90%;
    max-width: $maxCenterContentWidth;
    margin: $elementMargin * 0.5 auto $elementMargin * 0.5 auto;
    color: $offWhite;
    font-weight: 300;
  }
}

.aboutme {
  &-container {
    width: 100%;
    background-color: $white;

    margin-top: 0;

    padding-top: $elementMargin;
    padding-bottom: $elementMargin;
  }
  &-title {
    text-align: center;
    margin-bottom: $elementMargin * 0.5;
  }
  & {

  }
  &-text {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    width:90%;
    color:$offBlack2;
    max-width: $maxCenterContentWidth;
  }
}

.profile-links {
  &-container {
    padding-top:$elementMargin;
    padding-bottom:$elementMargin;

    background-color:$primary;
    background-image: radial-gradient(ellipse farthest-corner at 50% 70%, $primaryHueAdjusted 0%, $primary 50%);
  }

  & {
    display:table;
    vertical-align: middle;
    width:100%;
  }

  &-text-container {
    display:table-cell;
    width:50%;
    vertical-align: middle;

    padding-right: $elementMargin * 0.25;
  }
  &-images-container {
    display:table-cell;
    width:50%;
    vertical-align: middle;

    padding-left: $elementMargin * 0.25;
  }

  &-image {
    fill: $white;
    width: $elementMargin;
    height: $elementMargin;
    margin-right: $elementMargin * 0.25;

    transition: fill 0.2s;
    &:hover {
      fill: $primaryFaded2;
    }
  }

  &-text {
    font-weight: 300;
    text-align: right;
    color: $offWhite;
  }
}

.projects {
  $breakPointOnePerLine: 600px;
  $breakPointTwoPerLineSmall: 900px;
  $breakPointTwoPerLineLarge: 1100px;

  &-container {

    background-color: $white;
    text-align: center;

    padding: $elementMargin * 0.5;
    @media only screen and (min-width:$breakPointOnePerLine) {
      padding: $elementMargin;
    }
  }
  &-title {
    margin-bottom: $elementMargin * 0.5;
  }
  &-container-inner {
    margin:auto;
    max-width:1500px;
    @extend .clearfloat;
  }

  &-single {
    $innerHeight: 200px;

    $animationTime: 0.2s;

    &-container {
      color:$black;
      text-align: left;
      box-sizing: border-box;

      float:left;
      display:table;
      height: $innerHeight;

      transition: padding $animationTime, width $animationTime, background-color $animationTime;

      width:100%;
      padding: $elementMargin * 0.25;
      @media only screen and (min-width:$breakPointOnePerLine) {
        padding: $elementMargin * 0.5;
      }
      @media only screen and (min-width:$breakPointTwoPerLineSmall) {
        padding: $elementMargin * 0.25;
        width:50%;
      }
      @media only screen and (min-width:$breakPointTwoPerLineLarge) {
        padding: $elementMargin * 0.5;
      }

      cursor:pointer;
      &:hover {
        background-color: $offGreyFaded;
        box-shadow:0 1px .5px rgba(255,255,255,.13);

        & .projects-single-image {
          opacity:0;
        }
        // Experiment.
        /*
        background-color: $primary;twibfy_mono.png
        color:$white;
        & .projects-single-text {
          color:$offWhite;
        }
        */
      }
    }
    &-image-container {
      display:table-cell;
      vertical-align: middle;
      position: relative;

      transition: width $animationTime;
      width: $innerHeight * 0.5;
      @media only screen and (min-width:$breakPointOnePerLine) {
        width: $innerHeight;
      }
      @media only screen and (min-width:$breakPointTwoPerLineSmall) {
        width: $innerHeight * 0.5;
      }
      @media only screen and (min-width:$breakPointTwoPerLineLarge) {
        width: $innerHeight;
      }
    }
    &-image {
      &, &-over {
        width:100%;
      }

      & {
        transition: opacity $animationTime;
        position:absolute;
      }
    }
    &-text {
      &-container {
        vertical-align: middle;
        display:table-cell;

        height:100%;

        overflow: hidden;
        padding-left: $elementMargin * 0.5;
        text-align: left;
        box-sizing: border-box;
      }
      & {
        margin-top: $elementMargin * 0.25;
        color:$offBlack2;
      }
    }
  }
}








$topBarHeight: $elementMargin * 1.5;

.project-root {
  padding-top:0;
  height:100%;
}
.topbar {
  &-container {
    background-color:rgba($primary, 0.9);
    height:$topBarHeight;
    display:table;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    z-index:900001;
  }
  & {
    position:relative;
    display:table-cell;
    table-layout: fixed;
    vertical-align: middle;
    height:100%;
    padding-left:0;
    padding-right: $elementMargin * 0.5;
    color:$white;
  }
  &-back {

    display:table;
    color:$white;

    font-weight: 400;
    font-size: 1.25rem;

    padding-left:$elementMargin * 0.5;
    padding-right:$elementMargin * 0.5;
    height:$topBarHeight;

    transition: background-color 0.2s, color 0.1s;
    border-radius: 0.25rem;
    &:hover {
      background-color: rgba(255,255,255,0.08);
      box-shadow:0 1px .5px rgba(0,0,0,.05);
      color: $offWhite;
    }

    &-image {
      display:table-cell;
      vertical-align:middle;

      & img {
        height:$elementMargin * 0.66;
        vertical-align:middle;
      }
    }

    &-text {
      display:table-cell;
      @media only screen and (max-width:450px) {
        display:none;
      }
      padding-left: $elementMargin * 0.25;
      vertical-align: middle;
    }
  }

  &-title {
    position:absolute;
    top:50%;
    transform:translate(-50%,-50%);
    left:50%;
    text-align: center;
    white-space: pre;
    margin: 0 auto;
    font-weight: 300;
  }
}


.widescreen-image {

  & {
    height:50%;
    min-height: 300px;
  }

  &-image {
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    width:100%;
    height:100%;
  }
}

.intro {
  &-container {
    padding-left: 5%;
    padding-right: 5%;
  }

  &-title {
    margin: 0 auto;
    text-align: center;
    font-size: 3rem;
    color: $primary;
    padding-top: $elementMargin;
  }

  &-stats {
    color: $offGrey;
    margin: 0 auto;
    text-align: center;
  }

  &-summary {
    & {
      text-align: left;
      color: $offBlack2;
    }
    &-container {
      margin: $elementMargin * 0.5 auto 0 auto;
      max-width: $maxCenterContentWidth;
    }
  }
}


.side-by-side-images {
  & {
    width:90%;
    max-width: $maxCenterContentWidth;
    margin: $elementMargin auto 0 auto;
  }
  &-separator {
    content: "";
    display:none;
    width: 5%;
  }
  &-image {
    display:inline-block;
    width:100%;
  }

  @media only screen and (min-width:500px) {
    &-separator {
      display:inline-block;
    }
    &-image {
      width:47.5%;
    }
  }
}

.simple-text {
  & {
    max-width: $maxCenterContentWidth;
    margin: 0 auto;
  }
  &-container {
    margin-top: $elementMargin;
    padding-left: 5%;
    padding-right: 5%;
    color: $offBlack2;
  }

  & a {
    border-bottom: 2px solid rgba($primary, 1);
    color: inherit;

    transition: color 0.1s, border-bottom-color 0.1s;
    &:hover {
      color: $primary;
      border-bottom-color: transparent;
    }
  }
}



.bottom {
  content:"";
  height:$elementMargin * 2;
}

.element-margin-top {
  margin-top: $elementMargin;
}
.element-margin-top-half {
  margin-top: $elementMargin * 0.5;
}

.button-primary {
  color:$primary;
  cursor:pointer;
  background-color: $white;
  display:inline-block;
  padding: $elementMargin * 0.25 $elementMargin * 0.5 $elementMargin * 0.25 $elementMargin * 0.5;
  font-weight: 400;

  border: 1px solid rgba(0,0,0,0.1);
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  border-radius:0.25rem;

  transition: color 0.2s, border-color 0.2s;
  &:hover {
    color: $primaryFaded;
    border-color:rgba(0,0,0,0.25);
  }
}

