$offBlack: #1e1200;
$offGrey: #b1a89a;
$offWhite: #fff4f0;
$primary: #FF5722;
$primaryFaded: #ff825b;
$primaryFaded2: #ffe4db;

$elementMargin: 3rem;


html {
  font-family: 'Source Sans Pro', Helvetica Neue, sans-serif;
  -webkit-font-smoothing: antialiased;
}

html, body, p, h1, h2, h3 {
  margin:0;
  border:0;
  padding: 0;
  outline: 0;
  font-weight: 400;
}
html, body, #content {
  width:100%;
  height:100%;
  font-size: 100%;
}

.content-react, .container-root {
  position: relative;
  height:100%;
}

a {
  text-decoration: none;
}

h2 {
  font-size:2rem;
}
h3 {
  font-size: 1.5rem;
}





.leaderboard {
  &-container {
    display: table;
    width: 100%;
    height: 100%;
    min-height: 500px;
    color:#FFF;
    background-color: $primary;
  }
  & {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }
  &-title {
    font-size: 3rem;
  }
  &-text {
    font-size: 1.25rem;
    width:90%;
    max-width: 700px;
    margin: $elementMargin * 0.5 auto $elementMargin * 0.5 auto;
    color: $offWhite;
    font-weight: 300;
  }
}

.aboutme {
  &-container {
    display: table;
    width: 100%;
    color:$offBlack;
    background-color: #fff;

    margin-top: 0;

    padding-top: $elementMargin;
    padding-bottom: $elementMargin;
  }
  &-title {
    text-align: center;
    margin-bottom: $elementMargin * 0.5;
  }
  & {
    display: table-cell;
    vertical-align: middle;
  }
  &-text {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    width:90%;
    max-width: 700px;
  }
}

.color-line {
  content:"";
  background-color: $primaryFaded;
  height:$elementMargin * 2;
  //opacity:0.75;
}

.projects {
  &-container {
    background-color: #fff;
    padding: $elementMargin;
    text-align: center;

    &::after {
      display: block;
      content:"";
      clear:both;
    }
  }
  &-title {
    margin-bottom: $elementMargin * 0.5;
  }
  &-container-inner {
    margin:auto;
    max-width:1500px;
  }
  &-single {
    &-container {
      display:table;
      height:200px;
      float:left;
      box-sizing: border-box;

      width:100%;
      @media only screen and (min-width:800px){
        width:50%;
      }

      transition: background-color 0.25s;
      cursor:pointer;
      &:hover {
        background-color: $primaryFaded2;

        box-shadow:0 1px .5px rgba(255,255,255,.13)
      }
    }
    &-container-inner {
      padding-left:30%;
      padding-right:5%;
      text-align: left;
      display:table-cell;
      vertical-align: middle;
      box-sizing: border-box;
    }
    & {
      //height:120px;
    }
    &-text {
      margin-top: $elementMargin * 0.25;
      color:$offBlack;
    }
  }
}








$topBarHeight: $elementMargin * 1.5;

.container-topbar-offset {
  padding-top:$topBarHeight;
}
.topbar {
  &-container {
    background-color:$primary;
    height:$topBarHeight;
    display:table;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    z-index:900001;
  }
  & {
    position:relative;
    display:table-cell;
    table-layout: fixed;
    vertical-align: middle;
    height:100%;
    padding-left:0;
    padding-right: $elementMargin * 0.5;
    color:#fff;
  }
  &-back {

    display:table;
    color:#fff;

    font-weight: 400;
    font-size: 1.25rem;

    padding-left:$elementMargin * 0.5;
    padding-right:$elementMargin * 0.5;
    height:$topBarHeight;

    transition: background 0.1s, color 0.1s;
    border-radius: 0.25rem;
    &:hover {
      background: rgba(255,255,255,0.08);
      box-shadow:0 1px .5px rgba(0,0,0,.05);
      color: $offWhite;
    }

    &-image {
      display:table-cell;
      vertical-align:middle;

      & img {
        height:$elementMargin * 0.66;
        vertical-align:middle;
      }
    }

    &-text {
      display:table-cell;
      @media only screen and (max-width:450px) {
        display:none;
      }
      padding-left: $elementMargin * 0.25;
      vertical-align: middle;
    }
  }

  &-title {
    position:absolute;
    top:50%;
    transform:translate(-50%,-50%);
    left:50%;
    text-align: center;
    white-space: pre;
    margin: 0 auto;
    font-weight: 300;
  }
}


.widescreen-image {
  & {
    position:relative;
    overflow:hidden;
  }
  &-text-container {
    position:absolute;
    top:50%;
    width:100%;
    text-align: center;
    transform:translateY(-50%);
  }
  &-text {
    color: $primary;
    display:inline-block;
    font-size: 3rem;
    z-index:2;
    padding:2rem;
    background-color:rgba(255,255,255,0.8);
    border-radius: 0.25rem;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    box-sizing:border-box;
    max-width:700px;

    &.undertext {

      display:none;

      z-index:1;
      color:#fff;
      left:1px;
      top:50.5%;

      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

      &.undertext-2 {

        display:none;

        z-index:0;
        color:#000;
        left:2px;
        top:51%;
      }
    }
  }
  &-image {
    $height: $elementMargin * 8;
    & {
      margin-top:$height * 0.5;
      width:100%;
      transform:translateY(-50%);
    }
    &-container {
      position:relative;
      width:100%;
      height:$height;
      overflow: hidden;
    }
  }
}



.bottom {
  content:""
}

.element-margin-top {
  margin-top: $elementMargin;
}
.element-margin-top-half {
  margin-top: $elementMargin * 0.5;
}

.button-primary {
  color:$primary;
  cursor:pointer;
  background-color: #fff;
  display:inline-block;
  padding: $elementMargin * 0.25 $elementMargin * 0.5 $elementMargin * 0.25 $elementMargin * 0.5;
  font-weight: 400;

  border: 1px solid rgba(0,0,0,0.1);
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  border-radius:0.25rem;

  transition: color 0.2s, border-color 0.2s;
  &:hover {
    color: $primaryFaded;
    border-color:rgba(0,0,0,0.25);
  }
}

