$black: #000;
$white: #fff;
$offBlack: #1e1200;
$offBlack2: #6a5c5c;
//$offGrey: #b1a89a;
$offGrey: #9e8888;
$offWhite: #fff4f0;

//$primary: #FF5722;
$primary: #eb4410;
$primaryFaded: #ff825b;
$primaryFaded2: #ffe4db;
$primaryFaded3: #fffbf9;

$elementMargin: 3rem;
$maxCenterContentWidth: 15 * $elementMargin;

html {
  font-family: 'Open Sans', Helvetica Neue, sans-serif;
  -webkit-font-smoothing: antialiased;
}

html, body, p, h1, h2, h3 {
  margin:0;
  border:0;
  padding: 0;
  outline: 0;
  font-weight: 400;
}
html, body, #content {
  width:100%;
  height:100%;
  font-size: 100%;
}

.content-react, .container-root {
  position: relative;
  height:100%;
}

a {
  text-decoration: none;
}

h2 {
  font-size:2rem;
}
h3 {
  font-size: 1.5rem;
}


.clearfloat {
  &::after {
    display: block;
    content:"";
    clear:both;
  }
}




.leaderboard {
  &-container {
    display: table;
    width: 100%;
    height: 100%;
    min-height: 500px;
    color:$white;
    background-color: $primary;
  }
  & {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }
  &-title {
    font-size: 3rem;
  }
  &-text {
    font-size: 1.25rem;
    width:90%;
    max-width: $maxCenterContentWidth;
    margin: $elementMargin * 0.5 auto $elementMargin * 0.5 auto;
    color: $offWhite;
    font-weight: 300;
  }
}

.aboutme {
  &-container {
    width: 100%;
    background-color: $white;

    margin-top: 0;

    padding-top: $elementMargin;
    padding-bottom: $elementMargin;
  }
  &-title {
    text-align: center;
    margin-bottom: $elementMargin * 0.5;
  }
  & {

  }
  &-text {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    width:90%;
    color:$offBlack2;
    max-width: $maxCenterContentWidth;
  }
}

.profile-links {
  &-container {
    background-color:$primary;
    padding-top:$elementMargin;
    padding-bottom:$elementMargin;
  }

  & {
    display:table;
    vertical-align: middle;
    width:100%;
  }

  &-text-container {
    display:table-cell;
    width:50%;
    vertical-align: middle;

    padding-right: $elementMargin * 0.25;
  }
  &-images-container {
    display:table-cell;
    width:50%;
    vertical-align: middle;

    padding-left: $elementMargin * 0.25;
  }

  &-image {
    fill: $white;
    width: $elementMargin;
    height: $elementMargin;
    margin-right: $elementMargin * 0.25;

    transition: fill 0.2s;
    &:hover {
      fill: $primaryFaded2;
    }
  }

  &-text {
    font-weight: 300;
    text-align: right;
    color: $offWhite;
  }
}

.color-line {
  content:"";
  background-color: $primary;
  height:10px;
  //opacity:0.75;
}

.projects {
  &-container {

    background-color: $white;
    text-align: center;

    padding: $elementMargin * 0.5;
    @media only screen and (min-width:600px) {
      padding: $elementMargin;
    }
  }
  &-title {
    margin-bottom: $elementMargin * 0.5;
  }
  &-container-inner {
    margin:auto;
    max-width:1500px;
    @extend .clearfloat;
  }

  &-single {
    $innerHeight: 200px;

    $breakPointOnePerLine: 600px;
    $breakPointTwoPerLineSmall: 900px;
    $breakPointTwoPerLineLarge: 1100px;

    $animationTime: 0.2s;

    &-container {
      color:$black;
      text-align: left;
      box-sizing: border-box;

      float:left;
      display:table;
      height: $innerHeight;

      transition: padding $animationTime, width $animationTime, background-color $animationTime;

      width:100%;
      padding: $elementMargin * 0.25;
      @media only screen and (min-width:$breakPointOnePerLine) {
        padding: $elementMargin * 0.5;
      }
      @media only screen and (min-width:$breakPointTwoPerLineSmall) {
        padding: $elementMargin * 0.25;
        width:50%;
      }
      @media only screen and (min-width:$breakPointTwoPerLineLarge) {
        padding: $elementMargin * 0.5;
      }

      cursor:pointer;
      &:hover {
        background-color: $primaryFaded3;
        box-shadow:0 1px .5px rgba(255,255,255,.13);

        & .projects-single-image-over {
          opacity:0;
        }
        // Experiment.
        /*
        background-color: $primary;
        color:$white;
        & .projects-single-text {
          color:$offWhite;
        }
        */
      }
    }
    &-image-container {
      display:table-cell;
      vertical-align: middle;
      position: relative;

      transition: width $animationTime;
      width: $innerHeight * 0.5;
      @media only screen and (min-width:$breakPointOnePerLine) {
        width: $innerHeight;
      }
      @media only screen and (min-width:$breakPointTwoPerLineSmall) {
        width: $innerHeight * 0.5;
      }
      @media only screen and (min-width:$breakPointTwoPerLineLarge) {
        width: $innerHeight;
      }
    }
    &-image {
      &, &-over {
        width:100%;
      }

      &-over {
        transition: opacity $animationTime;
        position:absolute;
      }
    }
    &-text {
      &-container {
        vertical-align: middle;
        display:table-cell;

        height:100%;

        overflow: hidden;
        padding-left: $elementMargin * 0.5;
        text-align: left;
        box-sizing: border-box;
      }
      & {
        margin-top: $elementMargin * 0.25;
        color:$offBlack2;
      }
    }
  }
}








$topBarHeight: $elementMargin * 1.5;

.container-topbar-offset {
  padding-top:$topBarHeight;
}
.topbar {
  &-container {
    background-color:$primary;
    height:$topBarHeight;
    display:table;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    z-index:900001;
  }
  & {
    position:relative;
    display:table-cell;
    table-layout: fixed;
    vertical-align: middle;
    height:100%;
    padding-left:0;
    padding-right: $elementMargin * 0.5;
    color:$white;
  }
  &-back {

    display:table;
    color:$white;

    font-weight: 400;
    font-size: 1.25rem;

    padding-left:$elementMargin * 0.5;
    padding-right:$elementMargin * 0.5;
    height:$topBarHeight;

    transition: background 0.1s, color 0.1s;
    border-radius: 0.25rem;
    &:hover {
      background: rgba(255,255,255,0.08);
      box-shadow:0 1px .5px rgba(0,0,0,.05);
      color: $offWhite;
    }

    &-image {
      display:table-cell;
      vertical-align:middle;

      & img {
        height:$elementMargin * 0.66;
        vertical-align:middle;
      }
    }

    &-text {
      display:table-cell;
      @media only screen and (max-width:450px) {
        display:none;
      }
      padding-left: $elementMargin * 0.25;
      vertical-align: middle;
    }
  }

  &-title {
    position:absolute;
    top:50%;
    transform:translate(-50%,-50%);
    left:50%;
    text-align: center;
    white-space: pre;
    margin: 0 auto;
    font-weight: 300;
  }
}


.widescreen-image {
  & {
    position:relative;
    overflow:hidden;
  }
  &-text-container {
    position:absolute;
    top:50%;
    width:100%;
    text-align: center;
    transform:translateY(-50%);
  }
  &-text {
    color: $primary;
    display:inline-block;
    font-size: 3rem;
    z-index:2;
    padding:2rem;
    background-color:rgba(255,255,255,0.8);
    border-radius: 0.25rem;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    box-sizing:border-box;
    max-width:700px;

  }
  &-image {
    $height: $elementMargin * 8;
    & {
      margin-top:$height * 0.5;
      width:100%;
      transform:translateY(-50%);
    }
    &-container {
      position:relative;
      width:100%;
      height:$height;
      overflow: hidden;
    }
  }
}



.bottom {
  content:""
}

.element-margin-top {
  margin-top: $elementMargin;
}
.element-margin-top-half {
  margin-top: $elementMargin * 0.5;
}

.button-primary {
  color:$primary;
  cursor:pointer;
  background-color: $white;
  display:inline-block;
  padding: $elementMargin * 0.25 $elementMargin * 0.5 $elementMargin * 0.25 $elementMargin * 0.5;
  font-weight: 400;

  border: 1px solid rgba(0,0,0,0.1);
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  border-radius:0.25rem;

  transition: color 0.2s, border-color 0.2s;
  &:hover {
    color: $primaryFaded;
    border-color:rgba(0,0,0,0.25);
  }
}

